* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.mainContainer {
  width: 734px;
  height: 969px;
  background: rgba(234,234,234,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}
.topHalf {
  width: 744px;
  height: 262px;
  background: rgba(214,153,42,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 1px;
  overflow: hidden;
}
.largeTitle {
  width: 396px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 113px;
  left: 72px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 43px;
  opacity: 1;
  text-align: left;
}
.smallerTitle {
  width: 209px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 170px;
  left: 72px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v0_34 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 68px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v0_35 {
  width: 13px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 4px;
}
.v0_36 {
  width: 34px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 45px;
  left: 88px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.cardsHorizontalContainer {
  width: 578px;
  height: 150px;
  padding-top: 10px;
  opacity: 1;
  position: relative;
  top: 100px;
  left: 80px;
  overflow: hidden;
}

.cardContainer {
  width: 156px;
  height: 253px;
  position: absolute;
  margin-top: 2px;
  margin-left: 10px;
}
.card {
  width: 131px;
  height: 113px;
  background: rgba(255,255,255,1);
  box-sizing: border-box;
  border: 1px solid rgb(139, 139, 139);
  box-shadow: 5px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.koreanImg {
  width: 45px;
  height: 45px;
  background: url("../images/korea.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 44px;
  overflow: hidden;
}
.englishImg {
  width: 45px;
  height: 45px;
  background: url("../images/england.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 44px;
  overflow: hidden;
}
.japaneseImg {
  width: 45px;
  height: 45px;
  background: url("../images/japan.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 44px;
  overflow: hidden;
}
.chineseImg {
  width: 45px;
  height: 45px;
  background: url("../images/chinese.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 44px;
  overflow: hidden;
}
.cardText {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 79px;
  left: 28px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}


.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 20px; 
  width: 70%; 
  height: 70%; 
  position: relative;
}

.modalText{
  /* width: 209px; */
  color: rgba(0, 0, 0, 1);
  position: relative;
  margin: 15%;
  font-family: Poppins;
  font-weight: semibold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}

.close {
  position: absolute;
  top: 25px;
  right: 30px;
  color: #aaa;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.startTimerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  opacity: 1;
  position: absolute;
  /* top: 673px; */
  bottom: 30px;
  left: 45%;
  height: 80px;
  width: 80px; 
  border: none;
  background: #bc0000de;
  border-radius: 50%; 
  cursor: pointer;
}


.openModalBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  opacity: 1;
  position: absolute;
  top: 673px;
  left: 45%;
  height: 80px;
  width: 80px; 
  border: none;
  background: #bc0000de;
  border-radius: 50%; 
  cursor: pointer;
}

.lable {
  line-height: 30px;
  font-size: 24px;
  color: #FF342B;
  font-family: poppins;
  font-weight: SemiBold;
  letter-spacing: 1px;
}

.openModalBtn:hover {
  background: #8b0000de;
}

.openModalBtn:hover .svg-icon {
  animation: scale 1s linear infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05) rotate(10deg);
  }

  100% {
    transform: scale(1);
  }
}


.timer-circle {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 50%;
  background: #eaeaea;
}

.timer-spin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #bc0000;
  border-top-color: transparent;
  /* animation: spin 1s linear infinite; */
}

.timer-display {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: poppins;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-weight: bold;
  color: #bc0000;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) ;
}